*{
scroll-behavior: smooth;
}

body {
    background-color:#FFF9E2FF; 
   }
   #rainbow{
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, Red , Orange, Yellow, Green, Blue, Indigo, Violet);
  }
   h1 {
     color: #0D9C90FF;
     font-size: 2em;
   }
   
   img {
     text-align: center;
   }